<div>
  <h2 id="page-heading" data-cy="FarmerProduceHeading">
    <span jhiTranslate="agriLinkRwandaApp.farmerProduce.home.title">Farmer Produces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="agriLinkRwandaApp.farmerProduce.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-farmer-produce"
        [routerLink]="['/farmer-produce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="agriLinkRwandaApp.farmerProduce.home.createLabel">Create a new Farmer Produce</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="agriLinkRwandaApp.farmerProduce.home.search"
          >Search for Farmer Produce</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'agriLinkRwandaApp.farmerProduce.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (farmerProduces().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="agriLinkRwandaApp.farmerProduce.home.notFound">No Farmer Produces found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unit">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.unit">Unit</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="pricePerUnit">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.pricePerUnit">Price Per Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availableFrom">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.availableFrom">Available From</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availableUntil">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.availableUntil">Available Until</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.grade">Grade</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="farmer.login">
              <div class="d-flex">
                <span jhiTranslate="agriLinkRwandaApp.farmerProduce.farmer">Farmer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (farmerProduce of farmerProduces(); track trackId(farmerProduce)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/farmer-produce', farmerProduce.id, 'view']">{{ farmerProduce.id }}</a>
              </td>
              <td>{{ farmerProduce.quantity }}</td>
              <td [jhiTranslate]="'agriLinkRwandaApp.Unit.' + (farmerProduce.unit ?? 'null')">
                {{ { null: '', KG: 'KG', GRAM: 'GRAM', LITER: 'LITER', PIECE: 'PIECE' }[farmerProduce.unit ?? 'null'] }}
              </td>
              <td>{{ farmerProduce.pricePerUnit }}</td>
              <td>{{ farmerProduce.availableFrom | formatMediumDatetime }}</td>
              <td>{{ farmerProduce.availableUntil | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'agriLinkRwandaApp.QualityGrade.' + (farmerProduce.grade ?? 'null')">
                {{ { null: '', A_GRADE: 'A_GRADE', B_GRADE: 'B_GRADE', C_GRADE: 'C_GRADE' }[farmerProduce.grade ?? 'null'] }}
              </td>
              <td>
                {{ farmerProduce.farmer?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/farmer-produce', farmerProduce.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/farmer-produce', farmerProduce.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(farmerProduce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (farmerProduces().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
