<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-item-heading"
        data-cy="OrderItemCreateUpdateHeading"
        jhiTranslate="agriLinkRwandaApp.orderItem.home.createOrEditLabel"
      >
        Create or edit a Order Item
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="agriLinkRwandaApp.orderItem.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="agriLinkRwandaApp.orderItem.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let priceAtOrderRef = editForm.get('priceAtOrder')!;
        <div class="mb-3">
          <label class="form-label" for="field_priceAtOrder" jhiTranslate="agriLinkRwandaApp.orderItem.priceAtOrder">Price At Order</label>
          <input
            type="number"
            class="form-control"
            name="priceAtOrder"
            id="field_priceAtOrder"
            data-cy="priceAtOrder"
            formControlName="priceAtOrder"
          />
          @if (priceAtOrderRef.invalid && (priceAtOrderRef.dirty || priceAtOrderRef.touched)) {
            <div>
              @if (editForm.get('priceAtOrder')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('priceAtOrder')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="agriLinkRwandaApp.orderItem.order">Order</label>
          <select
            class="form-control"
            id="field_order"
            data-cy="order"
            name="order"
            formControlName="order"
            [compareWith]="comparePurchaseOrder"
          >
            <option [ngValue]="null"></option>
            @for (purchaseOrderOption of purchaseOrdersSharedCollection; track $index) {
              <option [ngValue]="purchaseOrderOption">{{ purchaseOrderOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_farmerProduce" jhiTranslate="agriLinkRwandaApp.orderItem.farmerProduce"
            >Farmer Produce</label
          >
          <select
            class="form-control"
            id="field_farmerProduce"
            data-cy="farmerProduce"
            name="farmerProduce"
            formControlName="farmerProduce"
            [compareWith]="compareFarmerProduce"
          >
            <option [ngValue]="null"></option>
            @for (farmerProduceOption of farmerProducesSharedCollection; track $index) {
              <option [ngValue]="farmerProduceOption">{{ farmerProduceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
